* {
  margin: 0;
}

ul {
  list-style: none;
}

.kakao {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 50px;
}

.kakao > li {
  width: 100%;
}

.kakao > li > div,
.kakao > li > div > img {
  width: 100%;
}

.kakao > li > h1 {
  margin: 5px 0;
  line-height: 40px;
  font-size: 24px;
  color: #333;
}

.kakao > li > p {
  font-size: 15px;
  line-height: 22px;
  color: #666;
}
